footer {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #F9F6F0;
    color: #3B3C42;
    text-decoration: none;
    margin-left: 20px;
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: #3B3C42;
}

body {
    font-family: questrial, sans-serif;
    color: #3B3C42;
    background-color: #F9F6F0;
    width: 100vw;
    height: 100%;
    left: 0;
    right: 0;
}

h2 {
    font-size: large;
    font-weight: bold;
}

.logo {
    cursor: pointer;
    width: 20px;
    margin-top: 10px;
    height: 20px;
    display: inline-block;
    padding: 0px 20px;
    border: none !important;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #3B3C42;
    text-decoration: none;
}

header {
    color: #3B3C42;
    opacity: 0.9;
    height: 20%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
}

.nav li a {
    transition: all 0.3s ease 0s;
}

.nav li a:hover {
    background-color: #A9C9D1;
    color: #3B3C42;
}

.title {
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 200%;
    letter-spacing: 1px;
    text-align: center;
    background-image: url('../images/bighouse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title h1 {
    color: black !important;
}

.title h2 {
    color: black !important;
}

.title h1:hover {
    font-weight: bold;
    font-size: 40px;
}

h5 {
    text-align: right !important;
    margin-right: 10px;
}

.intro {
    color: #3B3C42;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: #3B3C42;
    text-align: center;
}

p {
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.5;
}

a:hover {
    color: #A9C9D1;
}

img {
    width: 200px;
    height: auto;
    opacity: 1;
}

.intro-div {
    height: 400px;
    background-color: #A9C9D1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    padding: 5%;
    column-gap: 10px;
}


/* WELLNESS */

.meditation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-wellness {
    height: 400px;
    width: 100%;
    color: #3B3C42;
    font-size: 200%;
    letter-spacing: 1px;
    background-image: url('../images/plant.jpg');
    background-repeat: no-repeat;
    background-color: white;
}

.title-wellness h1 {
    text-align: center;
    padding-top: 3%;
}

.mental-health {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.meditation h2 {
    text-align: center;
    color: #444;
    font-size: large;
}

.meditation-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    justify-items: center;
    align-items: center;
    object-fit: cover;
    column-gap: 20px;
}

.meditation-p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 20px;
    justify-items: center;
}

img:hover {
    transition: 0.5s ease-in-out;
    filter: grayscale(1);
}

.meditation-photos img {
    width: 100%;
    height: 180px;
}

.meditation-photos p {
    text-align: left;
}

.hiking-content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.hiking {
    height: 400px;
    background-color: #A9C9D1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    padding: 5%;
    column-gap: 10px;
}

.hiking p h2{
    margin: 10px;
}

.sports {
    background-color: #C4A378;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.friends {
    margin-top: 20px;
    margin-bottom: 20px;
}

.friends-img {
    display: grid;
    margin: 10px;
    column-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.friends p {
    margin: 10px;
}

@media only screen and (max-device-width: 730px) {
    .friends-img {
        display: flex;
        flex-direction: column;
    }
}


/* FOOD */

.title-food {
    height: 400px;
    width: 100%;
    color: #444;
    font-size: 200%;
    letter-spacing: 1px;
    background-image: url('../images/grocerybag.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.title-food h1 {
    text-align: center;
    padding-top: 3%;
}

.eating {
    width: 100%;
    height: 500px;
    background-color: #A9C9D1;
}

.eating-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 20px;
    justify-items: center;
    margin-bottom: 5px;
}

.grocery-list {
    width: 100%;
    padding-top: 20px;
    background-color: #A9C9D1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url("../images/traderjoes.jpg");
    height: 400px;
}

#checkboxes ul {
    margin: 0;
    list-style: none;
}

.exploring p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: #A9C9D1;
    padding: 20px;
}

.groceries p {
    padding: 20px;
}

.cooking-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    column-gap: 20px;
    justify-items: center;
}

.groceries h2 {
    text-align: center;
}

.grocery-pics {
    width: 100%;
    height: auto;
}

.grocery-pics img {
    width: 100%;
    height: auto;
}


/* EDUCATION */

.parallax {
    background-image: url(../images/paper.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-education {
    height: 400px;
    width: 100%;
    color: #444;
    font-size: 200%;
    letter-spacing: 1px;
    background-image: url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.highlight {
    background-color: #A9C9D1;
    color: #3B3C42;
    border: 1px solid #3B3C42;
}

.title-education h1 {
    text-align: center;
    padding-top: 3%;
}

.school {
    display: block;
    margin: 20px;
}

.planner {
    display: block;
    margin: 20px;
}

.planner-img img {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
}

.planner-img {
    margin-bottom: 10px;
}

.self-photo {
    width: 100%;
}

.classes {
    width: 100%;
    background-color: #C4A378;
    height: 350px;
}

.classes h2 {
    text-align: center;
    padding: 10px;
}

.michigan-classes {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.classes img {
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}


/* Form */

form {
    /* border: 3px solid #f1f1f1; */
    margin: 5%;
}

legend {
    font-size: 100%;
    font-style: bold;
    text-transform: none;
    text-align: center;
}

label {
    display: inline-block;
    margin-right: 10px;
    width: 100%;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8;
    box-sizing: border-box;
    -webkit-border-radius: 12px;
    -moz-border-radius: 8;
    -ms-border-radius: 8;
    -o-border-radius: 8;
}

span {
    margin-left: 20%;
    font-family: italic;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

input[type=submit] {
    background-color: #3B3C42;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 12px;
}

.cooking {
    width: auto;
    height: auto;
    text-align: center;
    background-color: #C4A378;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.eating-pics {
    height: auto;
    width: auto;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.sports h2 {
    padding: 20px;
}

.sports {
    height: auto;
}

.sports p {
    width: auto;
}

a.skip:focus {
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

@media only screen and (max-device-width: 480px) {
    body {
        width: 100%;
    }
    .title-education {
        height: 200px;
    }
    .title-food {
        height: 200px;
    }
    .title-wellness {
        height: 200px;
    }
    .title {
        height: 200px;
        color: white;
        font-weight: bold;
    }
    input[type=submit] {
        width: 100%;
    }
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .nav ul {
        width: 100vw;
        text-size-adjust: auto;
        overflow: auto;
    }
    .nav {
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-rows: min-content;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .classes {
        height: auto;
    }
    .classes img {
        padding-bottom: 10px;
    }
    .title h1 {
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    .intro-div {
        height: auto;
        width: auto;
        background-color: #A9C9D1;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 5%;
        column-gap: 10px;
    }
    .michigan-classes {
        height: auto;
        width: auto;
    }
    .grocery-list {
        height: auto;
        width: auto;
    }
    .cooking {
        width: auto;
        height: auto;
        text-align: center;
        background-color: #C4A378;
    }
    .friends-img {
        display: grid;
        grid-template-rows: 3(1fr);
    }
    .cooking-pics-parent {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
        column-gap: 20px;
        row-gap: 20px;
        align-items: center;
        justify-items: center;
        width: auto;
        resize: both;
    }
    .self-photo {
        margin: 20px;
    }
    .example {
        display: none;
    }
    .hiking {
        height: auto;
        width: auto;
        background-color: #A9C9D1;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 5%;
        column-gap: 10px;
    }
    .hiking-content img {
        justify-self: center;
    }
}

.intro-div {
    animation: color 5s ease;
    -webkit-animation: color 5s ease;
}

.classes {
    animation: color2 5s ease;
}

.intro {
    animation: fade 5s ease;
    -webkit-animation: fade 5s ease;
}

.wesbite-intro {
    animation: fade 5s ease;
    -webkit-animation: fade 10s ease;
}

.cooking-pics-parent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes color {
    from {
        background-color: #A9C9D1;
    }
    to {
        background-color: #C4A378;
    }
}

@keyframes color2 {
    from {
        background-color: #C4A378;
    }
    to {
        background-color: #A9C9D1;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .intro-div {
        animation: none;
    }
    .classes {
        animation: none;
    }
    .intro {
        animation: none;
        -webkit-animation: none;
    }
    .website-intro {
        animation: none;
        -webkit-animation: none;
    }
}